<div class="carousel">
    <div class="flex-container" style="align-items: center;">
        <a (click)="onPreviousClick()">
            <span class="left"></span>
        </a>
    </div>

    <div class="content">
        <div class="container-statement">
            <div class="card-title">
                {{'commons.statement' | translate}}
            </div>
        </div>
        <div class="container-statement" style="height: 11em;">
            <div class="card">
                <ng-container *ngFor="let slide of items; let i = index">
                    <div style="margin-top: -11px;" *ngIf="i === currentSlide" class="slide" @carouselAnimation>
                        {{slide}}
                    </div>
                </ng-container>

            </div>
        </div>

    </div>

    <div class="flex-container" style="align-items: center;">
        <a (click)="onNextClick()">
            <span class="right"></span>
        </a>
    </div>
</div>