

:host {
    width: 100%;
    --color: #5698dd;
}

.carousel {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
}

.slide {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.card-title {
    color: grey;
    font-size: 18px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: var(--primary-color);
    color: white;
    width: 100%;
}

.card {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border: 1px solid #dedede;
    width: 100%;
    flex-direction: row;
    word-break: break-all;
    background-color: #fafafa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container-statement {
    display: flex;
    justify-content: center;
    width: 100%;

}


/* arrows   */

a {
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}

a:hover .left,
a:hover .right {
    border: 0.5em solid #9CC0E7;
    ;
}

a:hover .left:after,
a:hover .right:after {
    border-top: 0.5em solid #9CC0E7;
    border-right: 0.5em solid #9CC0E7;
}

.left {
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.left:after {
    content: '';
    display: inline-block;
    margin-top: 0.7em;
    margin-left: 0.6em;
    width: 1em;
    height: 1em;
    border-top: 0.5em solid var(--color);
    border-right: 0.5em solid var(--color);
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.right {
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.right:after {
    content: '';
    display: inline-block;
    margin-top: 0.7em;
    margin-left: -0.6em;
    width: 1em;
    height: 1em;
    border-top: 0.5em solid var(--color);
    border-right: 0.5em solid var(--color);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}