<h2 mat-dialog-title>Explain</h2>
<mat-dialog-content class="mat-typography">
  <h3>Explaining the statements classification </h3>
  <p>You have to explain the statements you set as the most agreed and most disagreed. 
  </p>

  <h3>Order and quantity</h3>
  <p>The order to explain does not matter, you just have to click on the arrow to switch to another statement and you must explain all statements</p>

  <h3>Finishing</h3>
  <p>
    When you explain all statements, you can click on <b>Continue</b>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>