<h2 mat-dialog-title>{{'explanation.instructions.name' | translate}}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{'explanation.instructions.action' | translate}}</h3>
  <p>{{'explanation.instructions.you-have' | translate}}
  </p>

  <h3>{{'explanation.instructions.order-quantity' | translate}}</h3>
  <p>{{'explanation.instructions.order' | translate}} </p>

  <h3>{{'explanation.instructions.finishing' | translate}} </h3>
  <p>
    {{'explanation.instructions.finish-action' | translate}}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'buttons.close' | translate}}</button>
</mat-dialog-actions>