<div style="display: flex; flex-direction: column; width: 100%; overflow-x: hidden;">

    <div class="container-block bg-orange-light home">
        <div class="container-logo">
            <h1>{{'information.qmethodology' | translate}}</h1>
            <button class="config-btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon [inline]="true">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button [ngClass]="{'selected-lang': language === 'en' }" (click)="change('en')" mat-menu-item>
                    <mat-icon svgIcon="lang-en"></mat-icon>
                    <span>EN-US</span>
                </button>

                <button [ngClass]="{'selected-lang': language === 'pt' }"(click)="change('pt')" mat-menu-item>
                    <mat-icon svgIcon="lang-pt"></mat-icon>
                    <span>PT-BR</span>
                </button>
            </mat-menu>
        </div>

        <div class="container-links">
            <a class="link link-color-grey"
                (click)="scroll(aboutResearch)">{{'information.aboutResearch' | translate}}</a>
            <a class="link link-color-grey" (click)="scroll(aboutUs)">{{'information.aboutUs' | translate}}</a>
            <a #startResearch class="link link-color-grey"
                routerLink="/classify">{{'information.startResearch' | translate}}</a>
        </div>

        <div class="container-block-footer">

        </div>
    </div>

    <div #aboutResearch class="container-block bg-onyx" style="height: fit-content; min-height: 30em;">
        <div class="container-logo">
            <h3 class="link-color-white">{{'information.aboutResearch' | translate}}</h3>
        </div>

        <div class="container-links link-color-white">
            <div>
                <p style="margin-left:100px; margin-right:100px; margin-bottom:20px;">
                    {{'information.texts.aims' | translate}}
                    <br />
                    {{'information.texts.estimated' | translate}}
                    <br /><br />

                    <b>{{'information.texts.consent' | translate}}</b>
                    {{'information.texts.filling' | translate}}
                    <br /><br />

                    <b>{{'information.texts.conditions' | translate}}</b>
                    <br />
                    {{'information.texts.first-accept' | translate}}

                    <br /><br />
                    {{'information.texts.second-accept' | translate}}

                    <br /><br />
                    {{'information.texts.third-accept' | translate}}

                    <br /><br />
                    {{'information.texts.fourth-accept' | translate}}
                </p>
            </div>
            <div>
                <p style="margin-left:100px; margin-right:100px; margin-bottom:20px; margin-top:50px;">
                    {{'information.texts.study-about' | translate}}
                    <br />

                    {{'information.texts.SE' | translate}}
                    <br />
                    <br />

                    <b>{{'information.texts.what-are-soft' | translate}} </b>
                    <br />
                    {{'information.texts.SE-related' | translate}}
                    <br />

                    <b>{{'information.texts.some-skills' | translate}}</b>

                    <br /> {{'information.texts.communication' | translate}}
                    <br /> {{'information.texts.self-th' | translate}}
                    <br /> {{'information.texts.organization' | translate}}
                </p>

                <p style="margin-left:100px; margin-right:100px; margin-bottom:20px; margin-top:50px;">
                    <b>{{'information.texts.what-are-hard' | translate}}</b>
                    <br />
                    {{'information.texts.hard-skills-are' | translate}}
                    <br />

                    <b>{{'information.texts.some-hard' | translate}}</b>

                    <br /> {{'information.texts.ex-java' | translate}}
                    <br /> {{'information.texts.ex-adobe' | translate}}
                    <br /> {{'information.texts.ex-basic' | translate}}

                    <br /><br />
                    <b>{{'information.texts.importance' | translate}}</b>
                    <br />
                    {{'information.texts.the-need' | translate}}
                </p>

                <p style="margin-left:100px; margin-right:100px; margin-bottom:20px; margin-top:50px;">
                    <b>{{'information.texts.references' | translate}}</b>
                    <br />
                    [1]CAPRETZ, L. F.; VARONA, D.; RAZA, A. Influence of personality types in software tasks choices.
                    Computers in Human Behavior, [S. l.], v. 52, p. 373–378, 2015. Available on:
                    https://doi.org/10.1016/j.chb.2015.05.050
                    <br />
                    [2]VARONA, D. et al. Evolution of software engineers’ personality profile. ACM SIGSOFT Software
                    Engineering Notes, [S. l.], v. 37, n. 1, p. 1, 2012. Available on:
                    https://doi.org/10.1145/2088883.2088901
                </p>
            </div>
        </div>

        <div class="container-block-footer">

        </div>
    </div>

    <div #aboutUs class="container-block bg-platinum">
        <div class="container-logo">
            <h3>{{'information.aboutUs' | translate}}</h3>
        </div>

        <div class="container-profiles">

            <div class="card">
                <img src="../../assets/images/user.png" alt="John" style="width:50%">
                <h1>John Doe</h1>
                <p class="card-title">MSc Researcher</p>
                <p>Any found University</p>
                <div class="container-social-midias">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/images/user.png" alt="John" style="width:50%">
                <h1>John Doe</h1>
                <p class="card-title">MSc Researcher</p>
                <p>Any found University</p>
                <div class="container-social-midias">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/images/user.png" alt="John" style="width:50%">
                <h1>Ana Doe</h1>
                <p class="card-title">PhD Researcher</p>
                <p>Any found University</p>
                <div class="container-social-midias">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>

        <div class="container-block-footer">

        </div>
    </div>

</div>