<div style="display: flex; flex-direction: column; width: 100%; overflow-x: hidden;">

    <div class="container-block bg-orange-light">
        <div class="container-logo">
            <h1>Q Methodology</h1>
        </div>

        <div class="container-links">
            <a class="link link-color-grey">Home</a>
            <a class="link link-color-grey" (click)="scroll(aboutResearch)">About the research</a>
            <a class="link link-color-grey" (click)="scroll(aboutUs)">About us</a>
            <a class="link link-color-grey" routerLink="/classify">Start research</a>
        </div>

        <div class="container-block-footer">

        </div>
    </div>

    <div #aboutResearch class="container-block bg-onyx" style="height: fit-content; min-height: 30em;">
        <div class="container-logo">
            <h3 class="link-color-white">About research</h3>
        </div>

        <div class="container-links link-color-white">
            <div>
                <p style="margin-left:100px; margin-right:100px; margin-bottom:20px;">
                    The research aims to collect people's understanding about Soft Skills
                    <br />

                    The estimated time to complete the questionnaire is 30 minutes
                    <br /><br />

                    <b>STATEMENT OF INFORMED CONSENT</b>
                    By filling this research instrument, you agree to permit the researcher to obtain, use and disclose
                    the anonymous information provided as described below.
                    <br /><br />

                    <b>CONDITIONS AND STIPULATIONS</b>
                    <br />
                    1. I understand that all information is confidential. I will not be personally identified. I agree
                    to fill this research instrument for research purposes and that the data derived from this anonymous
                    research instrument may be published in journals, conferences and blog posts.
                    <br /><br />

                    2. I understand that my participation in this research instrument is totally voluntary, and that
                    declining to participate will involve no penalty or loss of benefits. If I choose, I may withdraw my
                    participation at any time. I also understand that if I choose to participate, that I may decline to
                    answer any question that I am not comfortable answering.
                    <br /><br />

                    3. I understand that I can contact the researcher if I have any questions about this research. I am
                    aware that my consent will not directly benefit me. I am also aware that the author will maintain
                    the data collected in perpetuity and may utilize data for future academic work.
                    <br /><br />

                    4. By clicking the button below I freely provide consent and acknowledge my rights as a voluntary
                    research participant as outlined above and provide consent to the researcher to use my information
                    in conducting research on the areas noted above.

                </p>
            </div>
            <div>
                <p style="margin-left:100px; margin-right:100px; margin-bottom:20px; margin-top:50px;">
                    This study is about the perceptions and behaviors of researchers, professionals and students in
                    software engineering area related to soft skills in their experiences.
                    <br />
                    Software Engineering (SE) is an area that requires several logical abilities (Hard Skills), and, in
                    this way, those kinds of skills were considered the most important in the past. However, nowadays,
                    subjective qualities, as known as Soft Skills (SSs) are as important as the logical ones, because
                    professionals must have the capacity to learn, working in teams, oral and writing skills, or even
                    wellness in a job once the software development is a result of human activities, which often include
                    problem-solving capabilities, cognitive aspects, and social interaction
                    <br /><br />
                    <b>What are Soft Skills?</b>
                    <br />
                    Soft Skills are the skills related to human personalities and behaviors rather than technical
                    aptitude or knowledge. For instance, they are skills that determine one's strengths as a leader,
                    facilitator or negociator.
                    <br />

                    <b>Some Soft Skills:</b>

                    <br /> 1. Communication
                    <br /> 2. Self-taught
                    <br /> 3. Organization
                </p>

                <p style="margin-left:100px; margin-right:100px; margin-bottom:20px; margin-top:50px;">
                    <b>What are Hard Skills?</b>
                    <br />
                    Hard Skill are the countable skills, it is the knowledge about having a solid foundation in
                    mathematics, sciences, engineering and as well as skills in computer science field just like data
                    structures, numerical analysis, data management, network science or programming languages.
                    They are the techinal qualities an individual can have to perform a task or a job, just as
                    programming languages
                    <br />

                    <b>Some Hard Skills:</b>

                    <br /> 1. Java Programming
                    <br /> 2. Management skills
                    <br /> 3. Adobe XD
                    <br /> 4. Basic computer skills (e.g. Email, Spreadsheets)

                    <br /><br />
                    <b>The importance</b>
                    <br />
                    The need for Soft Skills has increased along with Software Engineering evolution. In this
                    perspective, those human skills become an important factor in job requirements [1].
                    As projects, complexity increases over the years, the human interaction as communicate with
                    teammates or even with clients becomes something common and indispensable.
                    Then, the industry does not require only professionals with Hard Skills but also professionals who
                    have well-developed Soft Skills [2].
                </p>

                <p style="margin-left:100px; margin-right:100px; margin-bottom:20px; margin-top:50px;">
                    <b>REFERENCES</b>
                    <br />
                    [1]CAPRETZ, L. F.; VARONA, D.; RAZA, A. Influence of personality types in software tasks choices.
                    Computers in Human Behavior, [S. l.], v. 52, p. 373–378, 2015. Available on:
                    https://doi.org/10.1016/j.chb.2015.05.050
                    <br />
                    [2]VARONA, D. et al. Evolution of software engineers’ personality profile. ACM SIGSOFT Software
                    Engineering Notes, [S. l.], v. 37, n. 1, p. 1, 2012. Available on:
                    https://doi.org/10.1145/2088883.2088901
                </p>
            </div>
        </div>

        <div class="container-block-footer">

        </div>
    </div>

    <div #aboutUs class="container-block bg-platinum">
        <div class="container-logo">
            <h3>About us</h3>
        </div>

        <div class="container-profiles">

            <div class="card">
                <img src="../../assets/images/user.png" alt="John" style="width:50%">
                <h1>John Doe</h1>
                <p class="card-title">MSc Researcher</p>
                <p>Any found University</p>
                <div class="container-social-midias">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/images/user.png" alt="John" style="width:50%">
                <h1>John Doe</h1>
                <p class="card-title">MSc Researcher</p>
                <p>Any found University</p>
                <div class="container-social-midias">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/images/user.png" alt="John" style="width:50%">
                <h1>Ana Doe</h1>
                <p class="card-title">PhD Researcher</p>
                <p>Any found University</p>
                <div class="container-social-midias">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>

        <div class="container-block-footer">

        </div>
    </div>

</div>