
progress[value] {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 20px;
}

progress[value]::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0, 0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

h2 {
  margin: 0;
}


.example-container {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  overflow: auto;
  max-height: 7em;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  text-align: center;

}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.container-drag {
  border: grey 1px solid;
  border-radius: 6px;
  height: fit-content;
}

.container-drag-title {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}


.main-card {
  margin: auto;
  text-align: center;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  min-width: 80em;
  flex-wrap: wrap;
  overflow: hidden;
}

.card-title {
  color: grey;
  font-size: 18px;
}

@media (max-width: 1024px){
  .main-card {
    min-width: 50em;
  }
}

@media (max-width: 768px){
  .main-card {
    min-width: 40em;
  }
}


@media (max-width: 425px){
  .main-card {
    width: 100%;
    min-width: unset;
  }
}

