<h2 mat-dialog-title>{{'classification.instructions.name' | translate}}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{'classification.instructions.action' | translate}}</h3>
  <p>{{'classification.instructions.you-should' | translate}}

    <br> {{'classification.instructions.pile1' | translate}}
    <br> {{'classification.instructions.pile2' | translate}}
    <br> {{'classification.instructions.pile3' | translate}}

    <br>
    <ng-container *ngIf="isMobile()">
      <b>{{'classification.instructions.icon' | translate}}</b>
    </ng-container>

  </p>

  <h3>{{'classification.instructions.order-quantity' | translate}} </h3>
  <p>{{'classification.instructions.order' | translate}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'buttons.close' | translate}}</button>
</mat-dialog-actions>