<h2 mat-dialog-title>Quantify</h2>
<mat-dialog-content class="mat-typography">
  <h3>Quantifying statements</h3>
  <p>You have to quantify each statement according to your agreement or disagreement degree
  </p>
  <p>
    For example, you can quantify a statement as -3 for a sentence you disagree the most or 3 you agree the most.
  </p>

  <h3>Order and quantity</h3>
  <p>The order you quantify does not matter <b>however</b> as you can see at the top, each number classification has a limit</p>

  <h3>Finishing</h3>
  <p>
    When you quantify all statements, you can click on <b>Continue</b>
    or click <b>Back</b> to see the last step
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>