<h2 mat-dialog-title>{{'quantification.instructions.name' | translate}}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{'quantification.instructions.action' | translate}}</h3>
  <p>
    {{'quantification.instructions.you-have' | translate}}
  </p>
  <p>
    {{'quantification.instructions.example' | translate}}
  </p>

  <h3>{{'quantification.instructions.order-quantity' | translate}}</h3>
  <p>{{'quantification.instructions.order' | translate}}</p>

  <h3>{{'quantification.instructions.finishing' | translate}}</h3>
  <p>
    {{'quantification.instructions.finish-action' | translate}}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'buttons.close' | translate}}</button>
</mat-dialog-actions>