.bg-negative {
  background-color: #ff7f7f;
}

.bg-neutral {
  background-color: #d4c9b9;
}

.bg-positive {
  background-color: #99cc99;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 20px;
}

progress[value]::-webkit-progress-value {
  background-image:
    -webkit-linear-gradient(-45deg,
      transparent 33%, rgba(0, 0, 0, .1) 33%,
      rgba(0, 0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.container-drag {
  border: grey 1px solid;
  border-radius: 6px;
}

.container-drag-title {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: var(--primary-color)
}

h2 {
  margin: 0;
}


.container-page {
  background-color: #fafafa;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  justify-content: center;
}

.container-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em;
}

.main-card {
  margin: 1em;
  display: flex;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  min-width: 80em;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  min-height: 35em;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}

.card-title {
  color: grey;
  font-size: 18px;
}

.card {
  margin: 0.2em;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 10em;
  flex-direction: column;
}


@media (max-width: 1024px) {
  .main-card {
    min-width: 50em;
  }

}

@media (max-width: 768px) {
  .main-card {
    min-width: 40em;
  }
}


@media (max-width: 425px) {
  .main-card {
    width: 100%;
    min-width: unset;
  }

  .container-drag-title {
    font-size: 0.8em;
  }

  .card {
    width: 7em;
  }
}


#table-statements {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table-statements td,
#table-statements th {
  border: 1px solid #ddd;
  padding: 8px;

}

#table-statements tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table-statements td:hover {
  background-color: #ddd;
}

#table-statements th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  word-wrap: break-word;
}

tbody {
  display: block;
  height: 3em;
  overflow: auto;
  overflow-x: hidden;
  text-align: center;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  /* even columns width , fix width of table too*/
}

td {
  cursor: pointer;
}

.selected-level {
  color: white;
  background-color: #5698dd;
}