<div class="container-page">
    <div class="container-content">
        <div class="container-title">
            <h2>Quantification</h2>
        </div>
        <div class="main-card">
            <progress [max]="maxBar" [value]="statusBar">

            </progress>

            <div class="container-cards">
                <div *ngFor="let item of levelsMap | keyvalue: asIsOrder" class="card">
                    <h2 class="container-drag-title">{{item.key}}</h2>
                    <h3>{{item.value.count}} / {{item.value.total}}</h3>
                </div>

            </div>
            <div class="flex-container-column" style="justify-content: center; padding: 1em;">
                <div
                    style="display: flex; max-height: 20em; overflow: auto; overflow-x: hidden; flex-direction: column;">
                    <table
                        *ngFor="let item of structures.get('negative').concat(structures.get('neutral')).concat(structures.get('positive')) "
                        id="table-statements">
                        <thead>
                            <tr>
                                <th [ngClass]="setThStatus(item)">{{item.text}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td [ngClass]="{'selected-level': item.classification == objectKeys(level)[0]}"
                                    (click)="setQuantify(item, objectKeys(level)[0])" *ngFor="let level of levels">
                                    {{objectKeys(level)[0]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="flex-center">
            <button style="background-color: #5698dd; margin: 1em;" mat-raised-button color="primary"
                (click)="showInstructions()">Instructions</button>
            <button style="background-color: #5698dd; margin: 1em;" mat-raised-button color="primary"
                (click)="moveBack()">Back</button>
            <button style="background-color: #5698dd; margin: 1em;" [disabled]="!isFinished()" mat-raised-button
                color="primary" (click)="redirectToExplain()">Continue</button>
        </div>
    </div>
</div>