.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



.container-drag {
  border: grey 1px solid;
  border-radius: 6px;
}

.container-drag-title {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

h2 {
  margin: 0;
}


.container-page {
  background-color: #fafafa;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  justify-content: center;
}

.container-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-card {
  margin: 1em;
  padding: 1em;
  text-align: center;
  display: flex;
  border-radius: 15px;
  justify-content: space-evenly;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  min-width: 80em;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  min-height: 40em;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-title {
  color: grey;
  font-size: 18px;
}

.card {
  margin: 0.2em;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 10em;
}


@media (max-width: 1024px) {
  .main-card {
    min-width: 50em;
  }

}

@media (max-width: 768px) {
  .main-card {
    min-width: 40em;
  }
}


@media (max-width: 425px) {
  .main-card {
    width: 100%;
    min-width: unset;
  }

  .container-drag-title {
    font-size: 0.8em;
  }
}


#table-statements {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 99%;
}

#table-statements td,
#table-statements th {
  border: 1px solid #ddd;
  padding: 8px;

}

#table-statements tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table-statements td:hover {
  background-color: #ddd;
}

#table-statements th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  word-wrap: break-word;
}

tbody {
  display: block;
  height: 3em;
  overflow: auto;
  overflow-x: hidden;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  /* even columns width , fix width of table too*/
}

td {
  cursor: pointer;
}

.selected-level {
  color: white;
  background-color: #5698dd;
}