/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
