textarea{
  outline: none;
  resize: none;
  overflow: auto;
}
.container {
  display: block;
  height: 500px;
  width: 500px;
  padding: 2em;
}

.main-card {
  margin: 1em;
  padding: 1em;
  text-align: center;
  display: flex;
  border-radius: 15px;
  justify-content: space-evenly;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  min-width: 80em;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  min-height: 40em;
}



.container-page {
  background-color: #fafafa;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  justify-content: center;
}

.container-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



@media (max-width: 1024px) {
  .main-card {
    min-width: 50em;
  }

}

@media (max-width: 768px) {
  .main-card {
    min-width: 40em;
  }
}


@media (max-width: 425px) {
  .main-card {
    width: 100%;
    min-width: unset;
  }
  textarea{
    columns: 27;
  }

}
