<div class="container-page">
    <div class="container-content">
        <div class="container-title">
            <h2>Explanation</h2>
        </div>
        <div class="main-card">
            <div style="display: flex; height: 60%; justify-content: center; width: 100%;">
                <section class="section-carousel">
                    <app-carousel (selectItem)="selectItem($event)" [items]="items">
    
                    </app-carousel>
                </section>
            </div>

            <div style="display: flex; height: 30%; justify-content: center; width: 100%;">
                <textarea [(ngModel)]="actualItem.explanation" placeholder="Explain here why you choose -3 or +3 for this statement" cols="45" rows="10">

                </textarea>

            </div>
            <div style="display: flex; height: 10%; justify-content: center;">
                <button style="background-color: #5698dd;" [disabled]="!isFinished()" mat-raised-button color="primary"
                    (click)="nextStep()">Continue</button>
            </div>

        </div>
    </div>
</div>