.container-page {
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
}

.container-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4em;
}

.loading {
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opacity {
    opacity: 0.2;
}