.container-page {
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
}

.container-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}